### NetBeans ###
nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

frontend/web/assets/*
!frontend/web/assets/1.txt
frontend/uploads/*
!frontend/uploads/1.txt
frontend/web/uploads/*
!frontend/web/uploads/wall
!frontend/web/uploads/films
!frontend/web/uploads/tmp
frontend/runtime/*
!frontend/runtime/1.txt
/nbproject/private/
logs/*
!/logs/1.txt
