/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-5-17, 11:07:14
    Author     : yanghuolong
*/

.comment_list .media {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 15px;
    padding-top: 5px;
}

.comment_list img.media-object {
    height: 50px;
    width: 50px;
}

.media-heading {
    font-size: 12px;
}

.media-heading span {
    color: #888;
    float: right;
}

.comment_list .child-media {
    border-bottom: 0 none;
    border-top: 1px solid #dfdfdf;
    padding-top: 10px;
}

.reply a {
    color: #00c66b;
    float: right;
}

.reply .reply_form {
    display: none;    
    line-height: 25px;
}

.to_reply {
    margin-top: 20px;
    padding-top: 10px;
}

.hid-field {
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

