/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-6-3, 13:28:35
    Author     : yanghuolong
*/

span.tip_num {
    color:red;
}

img.avatar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    height: 38px;
    padding: 1px;
    width: 38px;
    border-radius: 5px;
    margin-top: 5px;
}

.navbar-nav > li > a.avatar {
    padding-top: 3px;
    height: 50px;
}

.abtn {
    color: #222;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding-left: 28px;
    position: relative;    
}

.abtn::before {
    content: "";
    height: 20px;
    left: 0;
    margin-top: -10px;
    position: absolute;
    top: 42%;
    width: 20px;
}

.abtn-digg::before {
    background: rgba(0, 0, 0, 0) url("../image/ding.png") no-repeat scroll center center;
}

.abtn-digg.selected::before, .abtn-digg.selected:hover::before {
    background: rgba(0, 0, 0, 0) url("../image/ding_do.png") no-repeat scroll center center;
}

.abtn-bury {
     margin-right: 38px;
}

.abtn-bury::before {
    background: rgba(0, 0, 0, 0) url("../image/cai.png") no-repeat scroll center center;
    margin-top: -7px;
}

.abtn-bury.selected::before, .abtn-bury.selected:hover::before {
    background: rgba(0, 0, 0, 0) url("../image/cai_do.png") no-repeat scroll center center;
}

.thumbnail a img {
    /*height: 162px;*/
}

.footer_top {
    text-align: center;
}

.footer_top a {
    color: #666666;
    font-size: 14px;
    margin: 0 25px;
}

.duration {
    cursor: pointer;
    margin-top: -24px;
    position: relative;
    color: #fff;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 3px;
    float: right;
    font: 12px/15px Tahoma,Helvetica,Arial,"微软雅黑",sans-serif;
    height: 16px;
    margin-right: 4px;
    overflow: hidden;
    padding: 0 5px;
}

.table-container {
    margin-top: 15px;
}

h3.title{
    color: #00c66b;
}

blockquote p {
    font-size: 14px;
}

span.number {
    color: red;
}

.title-more {
    font-size: 12px;    
    padding-right: 15px;
    padding-top: 8px;
}

.title-more a{
    color: #008200;
}

.btn-pay {
    background-color: #ea6f5a;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 2px 15px;
}

a.btn-pay:hover,a.btn-pay:active, a.btn-pay:visited {
    text-decoration: none;
    color: #008000;
}